<app-page-header title="Histórico de Avaliações">
  <ng-container slot="actions">
    <app-button title="Voltar" icon="arrow_back" color="secondary" (click)="voltar()"></app-button>
  </ng-container>
</app-page-header>

<ng-container *ngIf="charts$ | async as charts">
  <mat-card class="section" *ngFor="let chart of charts">
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chart"
      style="width: 100%; height: 400px; display: block;"
    ></highcharts-chart>
  </mat-card>
</ng-container>
