<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
    class="sidenav"
    [attr.role]="'dialog'"
    [mode]="'over'"
  >
    <mat-toolbar>
      <img src="./assets/logo.png" height="70" class="logo" />
    </mat-toolbar>
    <mat-nav-list>
      <!-- <div mat-subheader class="sub-header">Acesso</div> -->
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/" (click)="drawer.close()">
        <div class="list-item">
          <mat-icon>manage_accounts</mat-icon>
          <span>Clientes</span>
        </div>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/" (click)="drawer.close()">
        <div class="list-item">
          <mat-icon>assignment_ind</mat-icon>
          <span>Avaliação/Reavaliação</span>
        </div>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/" (click)="drawer.close()">
        <div class="list-item">
          <mat-icon>stacked_line_chart</mat-icon>
          <span>Evoluções</span>
        </div>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/" (click)="drawer.close()">
        <div class="list-item">
          <mat-icon>notifications</mat-icon>
          <span>Notificações</span>
        </div>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item *ngIf="isAdmin" routerLink="/usuarios" (click)="drawer.close()">
        <div class="list-item">
          <mat-icon>people</mat-icon>
          <span>Usuários</span>
        </div>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/logout" (click)="drawer.close()">
        <div class="list-item">
          <mat-icon>logout</mat-icon>
          <span>Sair</span>
        </div>
      </a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="/">CAFIN</a>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
