.sidenav-container {
  height: 100%;
  background-color: var(--background);
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

:host mat-nav-list > a span {
  margin-inline-start: 0.5rem;
}

:host .content {
  height: calc(100% - 64px - 4rem);
  padding: 1rem 2rem;
}

.sub-header {
  color: var(--font-color-dark);
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--font-color-dark);
}

.notification-list {
  width: 15rem;
  border: solid 1px var(--light-gray);
  border-radius: 5px;
  background: #fff;
  padding: 0 1rem;
  margin: 0;
}

.notification-list > li {
  list-style-type: none;
  border-bottom: solid 1px var(--light-gray);
  padding: 1rem 0;
  cursor: pointer;
  font-weight: bold;
}

.notification-list > li:last-child {
  border-bottom: none;
}

.notification-list > li.visto {
  font-weight: normal;
}
