@use '@angular/material' as mat;

$my-palette: (
  50 : #FCEFF1,
  100 : #F6D7DC,
  200 : #F1BDC4,
  300 : #EBA2AC,
  400 : #E68E9B,
  500 : #E27A89,
  600 : #DF7281,
  700 : #DA6776,
  800 : #D65D6C,
  900 : #CF4A59,
  A100 : #FFFFFF,
  A200 : #FFF5F6,
  A400 : #FFC2C8,
  A700 : #FFA8B1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$my-primary: mat.define-palette($my-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($my-theme);
