<app-page-header title="Evoluções">
  <ng-container slot="actions">
    <app-button title="Cancelar" icon="close" color="secondary" (click)="cancelar()"></app-button>
    <app-button title="Salvar" icon="done" (click)="salvar()" [disabled]="!form.valid"></app-button>
  </ng-container>
</app-page-header>

<form [formGroup]="form">
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Informações</mat-card-subtitle>
    </mat-card-header>

    <br />

    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Data</mat-label>
        <input matInput formControlName="data" [mask]="dateMask" [dropSpecialCharacters]="false">
      </mat-form-field>

      <br />

      <mat-form-field appearance="outline" class="form-field-full">
        <mat-label>Cliente</mat-label>
        <input
          type="text"
          placeholder="Selecione o cliente"
          aria-label="Number"
          matInput
          formControlName="cliente"
          [matAutocomplete]="auto"
          [readonly]="editing"
        >
        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          [displayWith]="displayCliente"
          (optionSelected)="clienteSelected($event)"
        >
          <mat-option *ngFor="let option of clientes$ | async" [value]="option">
            {{ option.nome }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field-full">
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="descricao" rows="10"></textarea>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</form>
