<app-page-header title="Usuários"></app-page-header>

<mat-card class="section">
  <form [formGroup]="form" class="filtro">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput type="text" formControlName="nome">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Usuário</mat-label>
      <input matInput type="text" formControlName="username">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email">
    </mat-form-field>

    <div class="filtro__actions">
      <button
        type="reset"
        mat-raised-button
        (click)="limpar()"
      >Limpar</button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!form.valid"
        (click)="filtrar()"
      >Filtrar</button>
    </div>
  </form>
</mat-card>

<mat-card class="section table-wrapper">
  <ng-container *ngIf="dataSource$ | async as dataSource">
    <table
      mat-table
      *ngIf="!(isLoading$ | async)"
      [dataSource]="dataSource.data"
      class="data-table"
    >
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef class="data-table__cell" mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let item" class="data-table__cell">{{ item.nome }} </td>
        <!-- <td mat-footer-cell *matFooterCellDef></td> -->
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef class="data-table__cell" mat-sort-header>Nome de Usuário</th>
        <td mat-cell *matCellDef="let item" class="data-table__cell">{{ item.username }} </td>
        <!-- <td mat-footer-cell *matFooterCellDef></td> -->
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="data-table__cell" mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let item" class="data-table__cell">{{ item.email }} </td>
        <!-- <td mat-footer-cell *matFooterCellDef></td> -->
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="data-table__cell small"></th>
        <td mat-cell *matCellDef="let item" class="data-table__cell">
          <div class="data-table__cell__actions">
            <button mat-icon-button (click)="editar(item)">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button (click)="excluir(item)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
        <!-- <td mat-footer-cell *matFooterCellDef></td> -->
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr> -->

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="3">Nenhum registro encontrado</td>
      </tr>
    </table>

    <mat-paginator
      [class.hidden]="isLoading$ | async"
      [length]="dataSource.count"
      [pageIndex]="pageIndex"
      [pageSize]="10"
      [pageSizeOptions]="[10, 20]"
      showFirstLastButtons="true"
      (page)="handlePageEvent($event)"
    ></mat-paginator>
  </ng-container>

  <div class="loading" *ngIf="isLoading$ | async">
    <mat-spinner diameter="25"></mat-spinner>
    <span>Buscando dados...</span>
  </div>
</mat-card>

<br>
<div style="height: 1rem;"></div>
